# NumPy Arrays

In [2]:
import numpy as np

 NumPy is a linear Algebra Library for Python, the reason it so important for Data Science 
 with Python is that almost all of the libraries in the PyData Ecosystem rely on NumPy as one of their main 
 building blocks

# Creating NumPy Arrays

## From a Python List

In [7]:
my_list = [1,2,3]
type(my_list)

list

In [9]:
np.array(my_list)

array([1, 2, 3])

In [10]:
my_list*2

[1, 2, 3, 1, 2, 3]

In [11]:
np.array(my_list)*2

array([2, 4, 6])

In [14]:
my_martix = [[1,2,3],[4,5,6],[7,8,9]]
type(my_martix)

list

In [15]:
np.array(my_martix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

# Bulilt-in Mathods

## arange: 
* *Return evently spaced values within a given interval*

In [20]:
np.arange(0 ,11)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [21]:
np.arange(0, 11, 2)

array([ 0,  2,  4,  6,  8, 10])

In [22]:
np.zeros(3)

array([0., 0., 0.])

In [24]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [26]:
np.ones(3)

array([1., 1., 1.])

In [27]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

# Linspace

In [31]:
np.linspace(0, 10,3)

array([ 0.,  5., 10.])

In [32]:
np.linspace(0, 10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

# Eye
* Creates an identity matrix

In [33]:
np.eye(2)

array([[1., 0.],
       [0., 1.]])

In [34]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

# Random
 NumPy also has lots ways to create random number arrays

## Rand: 
Creates an array of the given shape and populate it with random samples from a uniform distribution over
``[0,1)``

In [35]:
np.random.rand(2)

array([0.82552939, 0.10998317])

In [36]:
np.random.rand(5,5)

array([[0.48289216, 0.24837019, 0.78902054, 0.04443211, 0.4010638 ],
       [0.56934574, 0.66291719, 0.17133053, 0.46751002, 0.52814709],
       [0.22114501, 0.48497888, 0.56328869, 0.13505695, 0.0104798 ],
       [0.59761387, 0.94365761, 0.7107063 , 0.87807329, 0.46773653],
       [0.54573984, 0.95268106, 0.35242413, 0.6932197 , 0.14851619]])

## Randn:
Return a sample(or samples) from the "standard normal" distribution. Unlike rand which is uniform:

In [37]:
np.random.randn(2)

array([-2.70527029,  0.1363007 ])

In [38]:
np.random.randn(5,5)

array([[-1.37423522, -0.02134265, -0.73626443, -0.10075665, -0.04636613],
       [-0.0048387 , -2.90950034,  0.12157004,  1.04186196, -2.85118507],
       [-1.18734133,  0.19142924,  0.94482264, -0.58680147, -0.51518191],
       [ 0.667924  , -1.36607158,  0.51642903, -0.37104547,  0.07154925],
       [ 0.24738985, -0.16332547, -1.86663206, -1.33838476, -0.84729355]])

## Randint:
Returns random inter=gers from low(inclusive) to high (exclusive)

In [41]:
np.random.randint(1,100,10)

array([80, 97, 66, 55, 41, 61, 10, 43, 36, 21])

# Array Attributes and Methods

In [71]:
arr = np.arange(25)

In [72]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [62]:
ranarr = np.random.randint(0,50,10)

In [68]:
ranarr

array([ 3, 14, 15, 25, 36, 49, 41,  0, 22, 37])

In [64]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

# Reshape

In [65]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [66]:
ranarr.max()

49

In [67]:
ranarr.min()

0

In [69]:
ranarr.argmax()

5

In [70]:
ranarr.argmin()

7

## Shape
Shape is an attribute that arrays have (Not a method).

In [74]:
arr.shape

(25,)

In [75]:
arr.reshape(1, 25)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [76]:
arr.reshape(1,25).shape

(1, 25)

In [77]:
arr.reshape(25,1)

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24]])

In [78]:
arr.reshape(25,1).shape

(25, 1)

## dtype
You can grabe the data type of the object in array using dtype attribute

In [79]:
arr.dtype

dtype('int64')

# Series

In [82]:
import pandas as pd

## Creating a Series
You can convert a list, numpy array, or dictionary to a Series

In [84]:
labels =['a', 'b','c']
my_list= [10,20,30]
arr = np.array(my_list)
a_dict = {'a':10,'b':20, 'c':30}

In [85]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [87]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [88]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [89]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

## *Using Dictionary*

In [90]:
pd.Series(a_dict)

a    10
b    20
c    30
dtype: int64

# Data in a Series
A pandas Series can hold a variety of object types:

In [91]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

# Using an Index

In [100]:
ser1 = pd.Series([1,2,3,4], index =['USA', 'Germany', 'USSR', 'Japan'])

In [101]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [102]:
ser2 = pd.Series([1,2,3,4],  index=['USA','Mali','Italy', 'Japan'])

In [103]:
ser2

USA      1
Mali     2
Italy    3
Japan    4
dtype: int64

In [104]:
ser2['USA']

1

In [105]:
ser2['Mali']

2

In [106]:
ser1 + ser2

Germany    NaN
Italy      NaN
Japan      8.0
Mali       NaN
USA        2.0
USSR       NaN
dtype: float64