In [29]:
s1 = set([1,1,1,2,2,2,3,3,3])

In [30]:
s1.add(4)

In [2]:
# map
seq = [1,2,3,4,5]

In [3]:
def tiems2(var):
    return var*2

In [7]:
list(map(tiems2, seq))

[2, 4, 6, 8, 10]

In [13]:
# lambda expression
def times2(var): return var*2

In [14]:
times2(6)

12

In [16]:
# For lambda we gert rid of def and return
t = lambda var: var*2

In [17]:
t(7)

14

In [19]:
list(map(lambda num: num**2, seq))

[1, 4, 9, 16, 25]

In [21]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [22]:
# Mwthod
s = "Hello my name is Sam"

In [23]:
s.upper()

'HELLO MY NAME IS SAM'

In [31]:
# Tuples unpacking
x= [(1,2),(2,3),(4,5)]

In [33]:
x[1][1]

3

In [39]:
for a,b in x:
    print('***')
    print(a)
    
    print(b)

***
1
2
***
2
3
***
4
5