In [2]:
if 1>0:
    print('yep')

yep

In [3]:
if True:
    print('yep')

yep

In [7]:
if 1 == 2:
    print('First')
else:
    print('Last')

Last

In [8]:
if 1 != 2:
    print('First')
else:
    print('Last')

First

In [9]:
if 1 == 2:
    print('First')
elif 4 == 4:
    print('Second')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Second

In [10]:
seq = [1,2,3,4,5]

In [11]:
for num in seq:
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [17]:
i = 1
while i <= 5:
    print('i is {}'.format(i))
    i += 1

i is 1
i is 2
i is 3
i is 4
i is 5

In [16]:
i = 1
while i < 6:
    print("Hello")
    i += 1

Hello
Hello
Hello
Hello
Hello

In [ ]:
# For loops allow you to iterate through sequence

In [18]:
for x in seq:
    print(x)

1
2
3
4
5

In [20]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [26]:
x

5

In [21]:
# :List comprehension

In [24]:
y = [1,2,3,4,5,6,7,8,9,10]

In [25]:
emp_list = []
for num in y:
    emp_list.append(num**2)

In [27]:
print(emp_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
[num**2  for num in y]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
sq_val = [num**2 for num in y]